@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    string message = TempData["ErrorMessage"] as string;
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger">@message</h2>





