@model Customer
@{
    ViewData["Title"] = "Index";
}


<h2>GetForm</h2>
<form asp-action="FindCustomers" method="Get">

    Name: <br />
    <input type="text" name="search" />

    Choose a Sorting Option:

    <select name="sortBy">
        <option value="first_name">first_name</option>
        <option value="last_name">last_name</option>
        <option value="Email">Email</option>
        <option value="IsActive">IsActive</option>

    </select>
    <br />
    <input type="submit" value="Run" />
</form>

