@model IEnumerable<Capstone.Web.Models.Park>

@{
    ViewData["Title"] = "Index";
}

<h2><img style="width:33%" src="~/images/logo.png" /></h2>


<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                Park Name
            </th>
            <th>
                Location
            </th>

            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a class="product-image" asp-controller="Parks" asp-action="Detail" asp-route-id=@item.ParkCode> <img src="~/images/@(item.ParkCode).jpg" /></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.ParkDescription)
            </td>

        </tr>
}
    </tbody>
</table>
