@model AlienAgeModel

@{
    ViewData["Title"] = "AlienAge";
}

<section class="centeredPanel">
    <h2>Alien Age</h2>

    <form asp-action="AlienAgeResult" method="get">

        Choose a planet: <br />

        <select name="Planet">
            <option value="Mercury" >Mercury</option>
            <option value="Venus" >Venus</option>
            <option value="Mars" >Mars</option>
            <option value="Jupiter" >Jupiter</option>
            <option value="Saturn" >Saturn</option>
            <option value="Neptune" >Neptune</option>
            <option value="Uranus" >Uranus</option>
        </select>
        <br />

        Enter your Earth Age: <br />
        <input type="text" name="EarthAge" value="@Model.EarthAge"/><br />
        <input type="submit" value="Calculate Age" />
    </form>

</section>


