@{
    ViewData["Title"] = "Home Page";
    Television viewTelevision = ViewData["ViewTelevision"] as Television;
    Television tempTelevision = TempData["TempTelevision"] as Television;
    Television viewBagTelevision = ViewBag.ViewBagTelevision as Television;
}

<h2>Index page of the home controller</h2>

<h1> The ViewData information passed was @viewTelevision.Name</h1>
<br />
<h1> The TempData information passed was @tempTelevision.SerialNumber</h1>
<br />
<h1> The ViewBag information passed was @viewBagTelevision.Name</h1>
<br />
<a asp-action="index2" class="btn-success">Index2</a>
